@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.title {
  font-family: 'Caveat', cursive;
  margin-bottom: 32px;
}

.title a {
  color: #FFF;
  font-size: 62px;
  letter-spacing: 4px;
}

h1 a:hover {
  color: rgb(0, 247, 255);
  transition: 0.6s;
}