@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

.container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #121212;
}

.containerInput {
    display: flex;
    padding: 16px 0px 16px 14px;
    width: 500px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.5);
}

.containerInput input {
    background-color: transparent;
    border: 0;
    font-size: 20px;
    color: #FFF;
    outline: none;
    margin-right: 8px;
}

.container input::placeholder {
    color: #F1F1F1;
}

.buttonSearch {
    background-color: transparent;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.6s;
}

.buttonSearch:hover {
    transform: scale(1.4);
}

.main {
    font-family: 'Neucha', cursive;
    display: flex;
    font-size: 33px;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    background-color: #fff;
    width: 500px;
    border-radius: 8px;
}

.main h2 {
    margin: 16px 16px;
    font-size: 39px;
}

.main span {
    margin: 16px 16px;
    font-weight: bold;
}

@media (max-width: 600px) {
    .title {
        margin-top: 14px;
    }

    .title a {
        letter-spacing: 2px;
        font-size: 42px;
    }

    .containerInput input {
        font-size: 18px;
    }

    .buttonSearch {
        margin-right: 10px;
    }

    input {
        width: 100%;
    }

    .main h2 {
        font-size: 26px;
    }

    .containerInput {
        width: 80%;
        margin-bottom: 10px;
    }

    .main {
        width: 80%;
        min-height: 250px;
        font-size: 24px;
    }
}